@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body *{
    font-family: Source Sans Pro,Verdana,Calibri,"Liberation Sans",Arial,sans,sans-serif;
    color: #333;
}


emph {
    font-style:italic;
}

h3 {
    font-size: 1.3em;
}

a {
    outline: none; /* do not draw a dotted rectangle around a focused anchor */
}

.toolButton {
    margin:  2px;
    width:  48px;
    height: 48px;
    background-color:white;
}

.toolButton:hover {
    margin: 0px;
    border: 2px solid #CCC;
}

.toolButtonClicked {
    margin:  0px;
    border:  2px solid #C55;
    width:  48px;
    height: 48px;
    background-color:white;
}

#canvasContainer {
    position:fixed; 
    right:0px; 
    bottom: 0px;
}

.toolWindow {
    position:fixed; 
    top:72px; 
    z-index:1;
    background-color:white;    
}

.toolOverlay {
    left:10px; 
    width:400px;
/*    max-height:400px; */
}

.toolSide {
    left:0px; 
    max-width:40%;
    height:100%;
    bottom:0px;
}


.toolTop {
    left:0px; 
    right:0px;
    width:100%;
}
