@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body *{
    font-family: Source Sans Pro,Verdana,Calibri,"Liberation Sans",Verdana,Arial,sans,sans-serif;
    color: #333;
}


emph {
    font-style:italic;
}

h3 {
    font-size: 1.3em;
}

.tabHeader {
    text-decoration:none;
    color: #444;
    padding-right:10px;
    padding-left: 10px;
    font-weight:bold;
    border-bottom: 3px solid #777;
    border-right: 1px solid #444;
    border-left: 1px solid #444;
}

.tabHeaderSelected {
    border-bottom: 3px solid #D44;
    border-top: 1px solid white;
}

a {
    outline: none; /* do not draw a dotted rectangle around a focused anchor */
}

#contentDiv {
    position:absolute; 
    right:0px;
    top:0px;
}

#navDiv {
    position:absolute; 
    left:0px; 
    bottom:0px;
    overflow:auto;
}

@media all and (orientation: landscape) {
    #contentDiv {
        width:70%; 
        bottom:0px
    }

    #navDiv {
        width:30%;
        top:20px;
    }
}

@media all and (orientation: portrait) {
    #contentDiv {
        height:50%; 
        left:0px
    }

    #navDiv {
        height:50%;
        right:20px;
    }
}

@media all and (min-height: 800px) and (orientation: landscape) {
    #hBaseInfo, #hFurtherInfo {display: inherit;}
    
}

@media all and (max-height: 799px), (orientation: portrait) {
    #hBaseInfo, #hFurtherInfo {display: none;}
}
/*
.mandatory { color:#f6931f; font-weight:bold}

.myTable * {  vertical-align:text-top; }*/
