
body *{
    font-family: Verdana,Calibri,"Liberation Sans",Verdana,Arial,sans,sans-serif;
}

emph {
    font-style:italic;
}

.mandatory { color:#f6931f; font-weight:bold}

.myTable * {  vertical-align:text-top; }
